<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- <script>
var vid = document.getElementById("video-show");
console.log(vid.attr);
</script>
 <li><a href="http://maryjaneauryn.com/public/uploads/video/15052406607822617747.mp4" class="download-btn" download>Download</a></li>

 -->
  
</head>
<body >
	<div class="wrapper" >
		<section id="home" class="head">
				<div class="logo">
					<h1 class="characters">
						<span class="char1">B</span>
						<span class="char2">L</span>
						<span class="char3">U</span>
						<span class="char4">E</span>
						<span class="char5"></span>
						<span class="char6">M</span>
						<span class="char7">O</span>
						<span class="char8">N</span>
						<span class="char9">K</span>
						<span class="char10">E</span>
						<span class="char11">Y</span>
						<span class="char12"></span>
						<span class="char13">G</span>
						<span class="char14">R</span>
						<span class="char15">I</span>
						<span class="char16">L</span>
						<span class="char17">L</span>
					</h1>
				</div>
		</section>
	
		<nav class="cl-effect-3 navbar">
			<nav class="navwrapper">
				<input class="before" type="checkbox" id="menu-toggle" />
      			<label class="after"for="menu-toggle" class="label-toggle"><label class="before"></label ><label class="after"></label></label>
				<ul>
	 				<li><a href="http://localhost:4200/dashboard#home">Home</a></li>
					<li><a href="http://localhost:4200/dashboard#menu">Menu</a></li>
					<li><a href="http://localhost:4200/dashboard#news">News</a></li>
					<li><a href="http://localhost:4200/dashboard#findus">Find Us</a></li>
					<li><a href="http://localhost:4200/dashboard#gallery">Gallery</a></li>
					<li><a href="http://localhost:4200/dashboard#gallery">Reservations</a></li>
				</ul>
			</nav>
		</nav>
	
		<section id="menu" class="menu" data-padding="0">
		 	<div class="parallax-window" data-parallax="scroll"  data-z-index="-1"  > 
			 
				<section class="main"  >
				<div id="rm-container" class="rm-container rm-open">
					<div class="rm-wrapper">
						<div class="rm-cover">
							<div class="rm-back">
								<div class="rm-content">
									<h4>Appetizers</h4>
									<dl>
										<dt>Poke Nachos</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</dd>

										<dt>Lobster, Crab &amp; Artichoke Dip</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>

										<dt>Spinach Cheese Dip</dt>
										<dd>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</dd>

										<dt>Queso Dip</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit &amp; mint pesto</dd>
										
										<dt>Classic Sliders</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
									</dl>

									<h4>Salads &amp; More</h4>
									<dl>
										<dt>Chicken Tortilla</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>

										<dt>Clam Chowder</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>

										<dt>Chopped Salad</dt>
										<dd>Lorem ipsum dolor sit amet</dd>
									</dl>
								</div><!-- /rm-content -->
								<div class="rm-overlay"></div>

							</div><!-- /rm-back -->

						</div><!-- /rm-cover -->

						<div class="rm-middle">
							<div class="rm-inner">
								<div class="rm-content">
									<h4>Main Dishes</h4>
									<dl>
										<dt>BBQ BACON CHEDDAR BURGER</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>

										<dt>ASADA TACO</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>

										<dt>CHIPOTLE CHICKEN TACO</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur.</dd>

										<dt>MARGHERITA PIZZA</dt>
										<dd>Lorem ipsum dolor sit amet</dd>

										<dt>GRILLED CHICKEN &amp; AVOCADO SANDWICH</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit,Lorem ipsum dolor sit amet, consectetur</dd>
																													
										<dt>CUBAN ROAST PORK DIP</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
										
										<dt>NEW YORK STEAK SANDWICH</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
										
										<dt>KUROBUTA PORK BURGER</dt>
										<dd>Lorem ipsum dolor sit amet, consectetur adipiscing elit</dd>
									</dl>
								</div><!-- /rm-content -->
								<div class="rm-overlay"></div>
							</div><!-- /rm-inner -->
						</div><!-- /rm-middle -->

						<div class="rm-right">
							<div class="rm-back">
								<div class="rm-content">
									<h4>BEER</h4>
									<dl>
										<dt>Hefenweizen</dt>
										<dt>Ipa</dt>
										<dt>Porter</dt>
										<dt>Lager</dt>
										<dt>Ale</dt>
										<dt>Pilsner</dt>
										<dt>Stout</dt>
									</dl>
									<h4>Cocktails</h4>
									<dl>
										<dt>Old Fashioned</dt>
										<dt>Whiskey Sour</dt>
										<dt>Manhattan</dt>
										<dt>Margarita</dt>
										<dt>Irsh Coffee</dt>
										<dt>Jack Rose</dt>
										<dt>Martini</dt>
										<dt>Bloody Mary</dt>
									</dl>
									<div class="rm-order">
							
									</div>
								</div><!-- /rm-content -->
							</div><!-- /rm-back -->

						</div><!-- /rm-right -->
					</div><!-- /rm-wrapper -->

				</div><!-- /rm-container -->

			</section>








		 	</div>
	 	</section>
		<div id="news" class="news">
			<h1>NEWS</h1>
		</div>
		<div class="event">
		



			
		<h1>EVENT PAGE</h1>
		</div>
		<div id="findus" class="findus"> <h1>FIND US</h1></div>

		<div class="carousel">
			<div id="gallery" class="gallery">
					<img src="../../assets/images/bar_full.jpg" class="first">
					<img src="../../assets/images/beer_tap.jpg">
					<img src="../../assets/images/cocktails.jpg">
					<img src="../../assets/images/dj.jpg">
					<img src="../../assets/images/pizza.jpg">
					<img src="../../assets/images/pong.jpg">
					<img src="../../assets/images/bar_full.jpg">
					<img src="../../assets/images/beer_tap.jpg">
					<img src="../../assets/images/cocktails.jpg">
					<img src="../../assets/images/pizza.jpg">
			</div>
		</div>		
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	

	
</body>
</html>