*{
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Cardo|Oswald');



html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
	margin: 0;
	padding: 0;
	max-width: 100%;	
}

section {
	display: block;
}

.wrapper{
	width: 100%;	
}

.head {
	display: flex;
	position: relative;
	z-index: 1;
	opacity: .8;
	height: auto;
	background-image: url(../../assets/blue_monkey.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 50% 50%;
}



.characters span {
	position: relative;
	font-size: 4vw;
	font-weight: 700;
	line-height: 1em;
	padding: 0em 0em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FFFFFF;
}

.logo {
	top: 45vh;
	left: 15vw;
	height: 100%;
	position: relative;
	width: 5vw;
	border-radius: 50%;
	transform: rotate(-64deg);

}

.characters span {
	position: absolute;
	height: 35vw;
	min-width: 2rem;
	transform-origin: bottom center;
	

}

.char1 { transform: rotate(0deg); }
.char2 { transform: rotate(8deg); }
.char3 { transform: rotate(16deg);}
.char4 { transform: rotate(24deg); }
.char5 { transform: rotate(32deg); }
.char6 { transform: rotate(40deg); }
.char7 { transform: rotate(48deg); }
.char8 { transform: rotate(56deg); }
.char9 { transform: rotate(64deg); }
.char10 { transform: rotate(72deg); }
.char11 { transform: rotate(80deg); }
.char12 { transform: rotate(88deg); }
.char13 { transform: rotate(96deg); }
.char14 { transform: rotate(104deg); }
.char15 { transform: rotate(112deg); }
.char16 { transform: rotate(120deg); }
.char17 { transform: rotate(128deg); }



 /*/// navbar ///*/

.navbar {
  background: rgba(47, 55, 59, 0.97);
  min-width: 100%;
  height: 100%;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  bottom: 0px;
  z-index: 15;
}

.navwrapper {
  margin: 0 auto;
  max-width: 100%;
  z-index: 10;
}

/* navbar hover and underline appear effect */

nav ul li a {
	position: relative;
	display: inline-block;
	margin: 10px 25px;
	outline: none;
	color: white;

	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1vw 2vh;
}

nav ul li a:hover,
nav ul li a:focus {
	outline: none;
	color: #838688;
}

.cl-effect-3 nav ul li a {
	padding: 8px 0;
}

.cl-effect-3 nav ul li a::after {
	position: absolute;
	top: 80%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #838688;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-3 nav ul li a:hover::after,
.cl-effect-3 nav ul li a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

/* navbar collapse to the top right */

nav ul {
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    /*outline: 10px solid red;*/
} 

nav ul a {
	color: #E84545;
    text-decoration: none;
    transition: all .5s ease;
  /*  outline: 1px solid red;*/
} 

nav li { display: inline-block;} 

nav #menu-toggle { display: none; }

nav .label-toggle { display: none; }
  
nav .navwrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
input {
  display: none; }

/* navbar media query */

@media screen and (max-width:769px) {

	.navbar{
     position: relative;
     height: 0;
  	 min-width: 100%;
  	 top: 0px;
  	 z-index: 6;
    }

    nav ul a  {    
         color: #53354A;
         /*z-index: 30;*/

    }
    nav ul {
      position: relative;
      background-color: black;
      display: block;
      height: 0;
      list-style-type: none;
      opacity: 0;
      text-align: center;
      transition: all 1s ease;
      outline: 3px solid black; //not needed
      visibility: visible; // not needed
      
      width: 100%;
      padding: 7rem;
      /*z-index:30;*/
    }
	

    nav ul li {
      position: relative;
      color: #53354A;
      display: block;
      padding: 0em 0;
 	  margin: 0 auto;
      width: 150px;
      left: -1rem;
    }

 

    nav .navwrapper {display: block;}
		
    





	/* start*/
.toggle-label {
  display: none;
  cursor: pointer;
  display: block;
  position: fixed;
  top: 20px;
  left: 85%;
  z-index: 99;
  color: #5196ce;
  width: 30px;
  height: 30px;
  transition: all 400ms ease-in-out;
  user-select: none;
  -webkit-tap-highlight-color: transparent; } 

.toggle-label .toggle-icon, .toggle-label .toggle-icon::before, .toggle-label .toggle-icon::after {
  position: absolute;
  top: 50%;
  left: 0%;
  height: 4px;
  width: 30px;
  cursor: pointer;
  background: #eeeeee;
  display: block;
  content: '';
  transition: all 500ms ease-in-out; }

.toggle-label .toggle-icon::before {
  transform: translate3d(0%, -12px, 0); }

.toggle-label .toggle-icon::after {
  transform: translate3d(0%, 8px, 0); }

.toggle:checked ~ .toggle-label .toggle-icon {
  background-color: transparent; }

.toggle:checked ~ .toggle-label .toggle-icon::before {
  transform: translateX(0%) rotate(45deg); }

.toggle:checked ~ .toggle-label .toggle-icon::after {
  transform: translateX(0%) translateY(-8px) rotate(-45deg);
  top: 10px; }

 .toggle:checked ~ ul {
      opacity: .8;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 30;
      transition-property: opacity;
      transition-duration: 500ms;
      transition-delay: 200ms;
      transition-timing-function: ease-in-out;
}

ul:focus ~ body{
	visibility: visible;

}

/*.toggle:not(:checked) ~ #overlay {
  transition-property: opacity;
  transition-duration: 500ms;
  transition-delay: 500ms;
  transition-timing-function: ease-in-out; }*/


   





	/*end */

  
}

/*/// menu ///*/

.menu {
	
	/*align-content: center;*/
	height: 900px;
	width: 100%;
	overflow: scroll;
	padding:0;
	z-index: 12;
	position: relative;
	margin: 0;

}

.menu::-webkit-scrollbar { 
    display: none; 
}


/* menu parallax with jquery*/

.parallax-window {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	margin:0;
	
}



/*/// events ///*/


.event {
	height: 550px;

	background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)),url('../../assets/images/reserve.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	
	
}


h1 {
	position: relative;
	font-size: 3vw;
	/*font-weight: 80vw;*/
	line-height: 1em;
	padding: 0em 0em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;

}

.event_banner {
	top: 38%;
	left: 25vw;
	height: 10px;
	position: relative;
	width: 10px;
	border-radius: 50%;
	transform: rotate(-41deg);
}

.characters_event span {
	position: absolute;
	height: 35vw;
	min-width: 2.5rem;
	transform-origin: bottom center;
}



.char_a { transform: rotate(0deg); }
.char_b { transform: rotate(5deg); }
.char_c { transform: rotate(10deg);}
.char_d { transform: rotate(16deg); }
.char_e { transform: rotate(21deg); }
.char_f { transform: rotate(25deg); }
.char_g { transform: rotate(29deg); }
.char_h { transform: rotate(34deg); }
.char_i { transform: rotate(34deg);  }
.char_j { transform: rotate(45deg); }
.char_k { transform: rotate(50deg); }
.char_l { transform: rotate(45deg); }
.char_m { transform: rotate(60deg); }
.char_n { transform: rotate(65deg); }
.char_o { transform: rotate(70deg); }
.char_p { transform: rotate(75deg); }
.char_q { transform: rotate(80deg); }
.char_r { transform: rotate(85deg); }



.container-2 {
	position: relative;
  text-align: center;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  
}

.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  z-index: 1;

 
}

.btn a{
	color: #fff;

}
.btn span  {
	position: relative;
    transition: all 0.3s;
    font-color: #fff;
    transform: scale(1, 1);
    z-index: 2;
  
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* BTN TWO */
.btn-two::before, .btn-two::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  border: 3px solid rgba(255, 255, 255, 0.5);
 

}

.btn-two:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
  z-index: 0;
}
.btn-two:hover::before {
  animation-name: rotateccw; 
  animation-duration: 3s;
  z-index: 0;
}
.btn-two:hover::after, .btn-two:hover::before {
  left: 96px;
  width: 64px;
  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateccw {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.statement {
	position: relative;
	font-family: 'cardo', Arial, sans-serif;
	font-size: 1.15rem;
	z-index: 0;
	text-align: center;
	padding-top: .5rem;
	top: 65%;
	color: #fff;
	height: 50px;
	width: 100%;


}

/*/// findus ///*/


.findus{
	position: relative;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: center;
	font-family:  Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: .05em;
	background-color: #fff;
	
	

}


agm-map {
  height: 35rem;
}

.find-us-child {
	
	width: 33.33%;

}


.column-details{
	align-items: center;
	
}



.column-details h1 {
	color: #546268;
	font-size: 2em;
	right: .5em;
	top: 2rem;
	margin: 0 auto;
	text-align: center;
	
}

.column-details h1 span {
	color: #98A1A4;
	font-size: 1.5rem; 
	height: 35px;
	width: 32px;
	top: 2px;
	margin-left: 3px;
	border-bottom:2px solid #98A1A4;

}

.contact-list {
	position: relative;
	top: 2rem;
	width: 85%;
	text-decoration: none;
	margin: auto;
	
	
}

.contact-list li {
	font-size: 1.3em;
	font-weight: 700;
	width: 100%;
	list-style-type: none;
	margin-top: 2em;
	
	

}

svg {
	position: relative;
	bottom: 7px;
	height: 40px;
	float: left;
	margin-right: 10px;


}

#send_message{
	position: relative;
	width: 100%;
	top: 80px;	

}

.book_section {
	background-image: url(../../assets/images/reserve.jpg);
	background-size: 100% 100%;
	background-repeat: none;
	display: flex;

}

#book_a_table {
	margin:0 auto;
	top: 14.5rem;
	align-self: center;

}

figure{
	width:200px;
	height:60px;
	cursor:pointer;
	perspective:500px;
	-webkit-perspective:500px;
	margin: 0 auto;

	
}
figure div{
	height:100%;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	transition:0.25s;
	-webkit-transition:0.25s;
	

}
figure:hover div{
	transform:rotateX(-90deg);
}



figure span{
	width:100%;
	height:100%;
	position:absolute;
	box-sizing:border-box;
	border:5px solid #556267;
	font-family:'Source Sans Pro',sans-serif;
	line-height:50px;
	font-size:17pt;
	text-align:center;
	text-transform:uppercase;

}

figure span:nth-child(1){
	color:#556267;
	transform: translate3d(0, 0, 30px);
	-webkit-transform: translate3d(0, 0, 30px);
}

figure span:nth-child(2){
	color:#556267;
	background:#fff;
	transform: rotateX(90deg) translate3d(0, 0, 30px);
	-webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}




@media screen and (max-width: 1250px){

	.findus{
		flex-flow: column wrap;
	}

	.find-us-child {
		width: 100%;
		height: 20rem;
		
	}
	.find-us-media{
		height: 20rem;
	}
	
	.column-details{
		z-index: 5;
	}

	.column-details h1 {
		font-size: 1.5em;
		top: 15px;
	}

	.column-details h1 span {
		font-size: 1rem; 
	}

	.contact-list {
		position: relative;
		top: 2rem;
		width: 40%;
		padding: 0;
		right: 10vw;
		margin: 0 auto;
	}

	.contact-list li {
		position: relative;
		font-size: 1em;
		margin-top: 1em;
		width: 190%;
	}

	figure span {
		right: .01vw;
	}

	svg {
		height: 30px;
	}

	#send_message{
		top: 4em;

	}



}


/*/// gallery ///*/

.carousel {
	width: 100%;
	overflow: hidden;
}

.gallery {
	height: 400px;
	width: 3500px;
	overflow: hidden;
}


/* gallery keyframe animations*/

.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}


.gallery img {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: -3px;
	height: 102%;
	overflow: hidden;


}
 
.gallery img:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}


@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}


/* media queries */

@media only screen and (max-width: 749px){
	.head { min-height: 100vh;
			
	}

}

@media only screen and (min-width:750px) {
	.head { min-height: 100vh;}
}

@media only screen and (min-width:1250px) {
	.head { min-height: 97.5vh;
			background-position: 100% 100%;}
}

 





